.guest-list-container {
    background-color: white;
    padding: 1em;
    border-radius: 8px 8px 0 0;
    margin-top: -32px;
    height: calc(100vh - 150px);
    width: 100%;
}

.scroll-behavior {
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll-behavior::-webkit-scrollbar {
    display: none;
}

@media (min-width: 600px) {
    .guest-list-container {
        width: 30%;
    }
}